body{
    background-color: lightgray;
  }
  
  header{
    background-color: white;
  }
  
  .inner{
    display: flex;
    justify-content: space-between;
  }
  
  img{
    width: 250px;
    height: 75px;
  }
  
  .menu{
    display: flex;
    align-items: center;
  }
  
  ul li{
    list-style: none;
    padding: 0 10px;
  }
  
  .form{
    display: flex;
    justify-content: center;
  }
  
  .form p{
    text-align: center;
  }
  
  input{
    width: 350px;
    height: 25px;
  }
  
  textarea{
    width: 350px;
    height: 200px;
  }